.location {
  padding: 2rem 7% 2rem 7%;
  font-size: 20px;
}

.location h1 {
  font-size: 70px;
  text-align: left;
  margin-top: 0;
}

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.location-info {
  width: 100%;
}

.contact-icon {
  color: #38b6ff;
}

.address {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.phone {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.open-times {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.times {
  text-align: left;
}

.times p {
  padding-bottom: 0.5rem;
  margin: 0;
}

.time-details {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.google-img {
  width: 100%;
}

@media (min-width: 975px) {
  .location-container {
    flex-direction: row;
  }

  .google-img {
    width: 45%;
  }
}
