/* .hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  padding: 5rem 10%;
  gap: 1rem;
  max-height: 100%;
}

.hero-info {
  width: 50%;
}

.hero-info h1 {
  font-size: 80px;
  margin: 0;
  max-height: 100%;
}

.hero-info span {
  color: #38b6ff;
}

.hero-info div {
  display: flex;
  justify-content: left;
  padding-top: 1rem;
}

.hero-info a {
  text-decoration: none;
  background-color: #38b6ff;
  border: 2px solid #38b6ff;
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 20px;
}

.hero-info a:hover {
  background-color: white;
  color: #38b6ff;
}

.hero-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  max-height: 100%;
}

@media (max-width: 1427px) {
} */
