.coupon h1 {
  font-size: 70px;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  padding: 2rem 7% 2rem 7%;
  color: white;
  background-color: #38b6ff;
}

.coupon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 7%;
}

.coupon-container h3 {
  font-size: 25px;
  border-bottom: 3px solid #38b6ff;
  width: fit-content;
  text-align: center;
  padding: 1rem 2rem;
}

.coupon-container img {
  width: 80%;
}

.download-btn {
  font-size: 40px;
  color: black;
}

.download-btn:hover {
  color: #38b6ff;
}
