.card-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  border-radius: 25px;
  padding: 3rem 0;
}

.icon {
  color: #80e8b0;
  font-size: 60px;
}

.card-container h3 {
  font-size: 25px;
}

.card-container p {
  font-size: 18px;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  color: #606060;
  text-align: left;
  width: 75%;
  margin: 0;
  padding-bottom: 2rem;
}

.card-container a {
  color: #38b6ff;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}

.card-container a:hover {
  color: lightgray;
}

@media (min-width: 1000px) {
  .card-container {
    height: 80%;
  }

  .card-container h3 {
    font-size: 20px;
  }

  .card-container p {
    margin-bottom: 2rem;
    font-size: 18px;
    padding-bottom: 0;
  }

  .card-container a {
    margin-bottom: 2rem;
    color: #38b6ff;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
  }
}
