.reviews {
  padding: 2rem 10%;
  height: fit-content;
}

.reviews h2 {
  text-align: center;
}

.reviews h2 span {
  color: #38b6ff;
  display: block;
}

.customer-reviews iframe {
  width: 100%;
  min-height: 500px;
  border: 0;
}

@media (min-width: 900px) {
  .reviews h2 span {
    display: inline;
  }
}
