footer {
  min-height: 25vh;
  background-color: #38b6ff;
}

.footer-container {
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.left-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  gap: 1rem;
  border-left: 3px solid white;
  text-align: left;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.footer-nav a:hover {
  color: lightgray;
}

.right-footer {
  text-align: center;
  color: white;
}
