footer {
  min-height: 25vh;
  background-color: #38b6ff;
}

.footer-container {
  padding: 2.8rem 7%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3rem;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.footer-nav a:hover {
  color: lightgray;
}
