@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Passion+One:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Passion One", sans-serif;
  margin: 0;
}
